<html>
    <head>
        <title>
            add quiz questions
        </title>
        <style>
            body{
                background-image: url('/images/back2.jpg');
            }
            .box{
                padding: 40px 56px;
                background-color: bisque;
                margin: 100px 100px 20px;
                border-radius: 20px
            }
            .box2{
                padding: 40px 56px 10px 56px;
                background-color: bisque;
                margin: 14px 100px 80px;
                border-radius: 20px;
            }
            .message{
                display: flex;
                justify-content: center;
                font-family: cursive;
                font-weight: bold;
                color: green;
                
            }
            
            
        </style>
        
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/javascripts/project.js"></script>
    </head>
    <body>  
        <div class="maincontainer">
            
            <div class="box">
                <div class="heading">
                    All your Quizes
                </div>

                <div>
                    <table class="stripped centered">
                        <thead>
                        <tr>
                              <th>Quiz Id</th>
                              <th>Admin Id</th>
                              <th>Quiz Name</th>
                          
                              <th>QuesName</th>
                              <th>Option 1</th>
                              <th>Option 2</th>
                              <th>Option 3</th>
                              <th>option 4</th>
                              <th>Correct Option no. & ans</th>
                              <th>Edit / Delete</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            <% data.map((item)=>{ %>
                                <tr>
                                    <td><%=item.quizid %></td>
                                    <td><%=item.adminid %></td>
                                    <td><%=item.quizname %></td>
                                   
                                    <td><%=item.quesname %></td>
                                    <td><%=item.optionone %></td>
                                    <td><%=item.optiontwo %></td>
                                    <td><%=item.optionthree %></td>
                                    <td><%=item.optionfour %></td>
                                    <td><%=item.correctoptionnumber %> & <%=item.correctoptionvalue %></td>
                                    <td><a href="/quiz/displayquizbyid?quizid=<%=item.quizid%>">edit</a></td>
                                    
                                </tr>
                            <% }) %>
                        </tbody>
                        
                
                        
                      </table>
                </div>
            </div>

        </div>



    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>